
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.book-descrip-container {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.book-descrip-container .book-descrip-box {
  width: 143.5rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f1d2bd;
}
.book-descrip-container .deacon_king_box {
  width: 65rem;
  height: 50.5rem;
  bottom: 27px;
  position: absolute;
  left: 3.5rem;
  top: 59.5rem;
  background-color: #e6e1e1;
}
.book-descrip-container .born_a_crime_box {
  width: 66.5rem;
  height: 50.5rem;
  position: absolute;
  left: 73.5rem;
  top: 59.5rem;
  background-color: #e6e1e1;
}
.book-descrip-container .deacon-king-kong-book {
  width: 24.5rem;
  height: 38.5rem;
  position: absolute;
  left: 3.5rem;
  top: 10.5rem;
  object-fit: cover;
  vertical-align: top;
}
.book-descrip-container .born-a-crime-book {
  width: 24.5rem;
  height: 38.5rem;
  position: absolute;
  left: 73.5rem;
  top: 10.5rem;
  object-fit: cover;
  vertical-align: top;
}
.book-descrip-container .deacon-bestselling {
  width: 12.9rem;
  height: 10.5rem;
  position: absolute;
  left: 28rem;
  top: 10.5rem;
  object-fit: cover;
  vertical-align: top;
}
.book-descrip-container .born-a-bestselling {
  width: 12.9rem;
  height: 10.5rem;
  position: absolute;
  left: 99.1rem;
  top: 10.5rem;
  object-fit: cover;
  vertical-align: top;
}
.book-descrip-container .category-biography-memoir-performing-arts-humor {
  width: 64.9rem;
  height: 5.5rem;
  position: absolute;
  left: 73.15rem;
  top: 50.6rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
}
.book-descrip-container .biography_underline {
  width: 22.9rem;
  height: 0.15rem;
  position: absolute;
  left: 84.7rem;
  top: 55rem;
  background-color: #000000;
}
.book-descrip-container .humor_underline {
  width: 7.4rem;
  height: 0.15rem;
  position: absolute;
  left: 130.7rem;
  top: 55rem;
  background-color: #000000;
}
.book-descrip-container .performing_underline {
  width: 19.4rem;
  height: 0.15rem;
  position: absolute;
  left: 109.7rem;
  top: 55rem;
  background-color: #000000;
}
.book-descrip-container .category-literary-fiction-historical-fiction {
  width: 52.6rem;
  height: 5.5rem;
  position: absolute;
  left: 3.5rem;
  top: 50.6rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
}
.book-descrip-container .literary_underline {
  width: 18.5rem;
  height: 0.15rem;
  position: absolute;
  left: 15.7rem;
  top: 55rem;
  background-color: #000000;
}
.book-descrip-container .historical_underline {
  width: 19.4rem;
  height: 0.15rem;
  position: absolute;
  left: 36.3rem;
  top: 55rem;
  background-color: #000000;
}
.book-descrip-container .trevor_hold_box {
  width: 28rem;
  height: 7rem;
  position: absolute;
  left: 105rem;
  top: 42rem;
  background-color: #fff9f9;
}
.book-descrip-container .james_hold_box {
  width: 28rem;
  height: 7rem;
  position: absolute;
  left: 35rem;
  top: 42rem;
  background-color: #fffbfb;
}
.book-descrip-container .james-place-on-hold {
  width: 16.2rem;
  height: 5.5rem;
  position: absolute;
  left: 40.6rem;
  top: 42.8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
}
.book-descrip-container .trevor-place-on-hold {
  width: 16.2rem;
  height: 5.5rem;
  position: absolute;
  left: 111.2rem;
  top: 42.8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
}
.book-descrip-container .trevor-paperback-date-isbn {
  width: 38.3rem;
  height: 5.5rem;
  position: absolute;
  left: 101.3rem;
  top: 22.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.book-descrip-container .trevor-paperback-date-isbn .trevor-paperback-date-isbn-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Kosugi Maru, 'Source Sans Pro';
}
.book-descrip-container .paperback-feb-02-2021-isbn-9780399588198 {
  width: 38.3rem;
  height: 5.5rem;
  position: absolute;
  left: 31.6rem;
  top: 21rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}

.book-descrip-container .paperback-feb-02-2021-isbn-9780399588198 .paperback-feb-02-2021-isbn-9780399588198-sub-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Kosugi Maru, 'Source Sans Pro';
}
.book-descrip-container .gold-star-1 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 101.5rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-2 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 106.8rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-3 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 112.1rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-4 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 116.9rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-5 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 121.9rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-6 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 36.6rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-7 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 41.9rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-8 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 47.2rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .gold-star-9 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 52rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .white-star-10 {
  width: 4.1rem;
  height: 4.7rem;
  position: absolute;
  left: 57rem;
  top: 31.5rem;
  object-fit: contain;
  vertical-align: top;
}
.book-descrip-container .trevor-review {
  width: 63.7rem;
  height: 37.8rem;
  position: absolute;
  left: 75.1rem;
  top: 61.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Kosugi Maru, 'Source Sans Pro';
}
.book-descrip-container .james-review {
  width: 63.4rem;
  height: 36.3rem;
  position: absolute;
  left: 5.7rem;
  top: 62.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Kosugi Maru, 'Source Sans Pro';
}
.book-descrip-container .deacon-king-kong {
  width: 21.5rem;
  height: 11.7rem;
  position: absolute;
  left: 41.4rem;
  top: 9.4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
}
.book-descrip-container .born-a-crime {
  width: 12rem;
  height: 11.7rem;
  position: absolute;
  left: 115.75rem;
  top: 9.9rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
}
