
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142.6rem;
}.checkout {
  box-sizing: border-box;
  padding-right: 13.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f1d2bd;
}
.checkout .selection-container {
  margin-right: 3.65rem;
  width: 31.6rem;
  height: 101.2rem;
  position: relative;
  flex-shrink: 0;
}
.checkout .selection-container .refine-container {
  width: 31.5rem;
  height: 101.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #bcaeae;
}
.checkout .selection-container .refine-by {
  width: 18rem;
  height: 4.8rem;
  position: absolute;
  left: 3.5rem;
  top: 4.5rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .line {
  width: 24.5rem;
  height: 0.2rem;
  position: absolute;
  left: 3.5rem;
  top: 10.4rem;
  background-color: #000000;
}
.checkout .selection-container .check-available {
  width: 4.9rem;
  height: 5.1rem;
  position: absolute;
  left: 3.5rem;
  top: 16.7rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .check-genre {
  width: 4.9rem;
  height: 5.1rem;
  position: absolute;
  left: 3.5rem;
  top: 37.7rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .check-language {
  width: 4.9rem;
  height: 5.1rem;
  position: absolute;
  left: 4.1rem;
  top: 72.7rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .check-comedy {
  width: 4.9rem;
  height: 5.1rem;
  position: absolute;
  left: 10rem;
  top: 55.3rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .available {
  width: 12.1rem;
  height: 3.5rem;
  position: absolute;
  left: 9.3rem;
  top: 17.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .genre {
  width: 7.8rem;
  height: 3.5rem;
  position: absolute;
  left: 10.5rem;
  top: 38.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .languages {
  width: 13.8rem;
  height: 3.5rem;
  position: absolute;
  left: 10.5rem;
  top: 74.4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .fantasy {
  width: 9rem;
  height: 3.5rem;
  position: absolute;
  left: 14.9rem;
  top: 42.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .biography {
  width: 11.9rem;
  height: 3.5rem;
  position: absolute;
  left: 14.9rem;
  top: 51.4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .comedy {
  width: 9.6rem;
  height: 3.5rem;
  position: absolute;
  left: 14.9rem;
  top: 56.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .check-english {
  width: 4.9rem;
  height: 5.1rem;
  position: absolute;
  left: 10.5rem;
  top: 80rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .english {
  width: 8.3rem;
  height: 3.5rem;
  position: absolute;
  left: 15.5rem;
  top: 80.9rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .mystery {
  width: 9.3rem;
  height: 3.5rem;
  position: absolute;
  left: 15.1rem;
  top: 60.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .science-fiction {
  width: 16.7rem;
  height: 3.5rem;
  position: absolute;
  left: 14.9rem;
  top: 47.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .all-in-the-library {
  width: 20.9rem;
  height: 6.9rem;
  position: absolute;
  left: 9.15rem;
  top: 23.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.checkout .selection-container .empty-box-library {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 4.1rem;
  top: 23.5rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .empty-box-science-fiction {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 10.6rem;
  top: 47.2rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .empty-box-biography {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 10.6rem;
  top: 51.4rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .empty-box-mystery {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 10.6rem;
  top: 60.8rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .empty-box-fantasy {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 10.6rem;
  top: 42.6rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .line-inside-box-fantasy {
  width: 2.6rem;
  height: 0.15rem;
  position: absolute;
  left: 11.2rem;
  top: 44.5rem;
  background-color: #000000;
}
.checkout .selection-container .line-inside-box-science-fiction {
  width: 2.6rem;
  height: 0.15rem;
  position: absolute;
  left: 11.2rem;
  top: 49rem;
  background-color: #000000;
}
.checkout .selection-container .french {
  width: 8rem;
  height: 3.5rem;
  position: absolute;
  left: 15.4rem;
  top: 85rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .empty-box-french {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 11.1rem;
  top: 85.4rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .line-inside-box-french {
  width: 2.6rem;
  height: 0.15rem;
  position: absolute;
  left: 11.7rem;
  top: 87.2rem;
  background-color: #000000;
}

.checkout .selection-container .spanish {
  width: 9.2rem;
  height: 3.5rem;
  position: absolute;
  left: 15.5rem;
  top: 89.7rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .empty-box-spanish {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 11rem;
  top: 90rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .line-inside-box-spanish {
  width: 2.6rem;
  height: 0.15rem;
  position: absolute;
  left: 11.6rem;
  top: 91.8rem;
  background-color: #000000;
}
.checkout .selection-container .german {
  width: 9.5rem;
  height: 3.5rem;
  position: absolute;
  left: 15.4rem;
  top: 94.6rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .selection-container .empty-box-german {
  width: 3.8rem;
  height: 3.6rem;
  position: absolute;
  left: 11rem;
  top: 94.9rem;
  object-fit: cover;
  vertical-align: top;
}
.checkout .selection-container .line-inside-box-german {
  width: 2.6rem;
  height: 0.15rem;
  position: absolute;
  left: 11.6rem;
  top: 96.7rem;
  background-color: #000000;
}
.checkout .selection-container .line-inside-box-biography {
  width: 2.6rem;
  height: 0.15rem;
  position: absolute;
  left: 11.2rem;
  top: 53.4rem;
  background-color: #000000;
}
.checkout .selection-container .line-inside-box-mystery {
  width: 2.6rem;
  height: 0.15rem;
  position: absolute;
  left: 11.2rem;
  top: 62.6rem;
  background-color: #000000;
}
.checkout .checkout-history-container {
  margin-top: 0.7rem;
  width: 94.25rem;
  flex-shrink: 0;
}
.checkout .checkout-history-container .checkout-history {
  margin-bottom: 4.2rem;
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .checkout-history-container .conjure-women-container {
  margin-bottom: 3.7rem;
  display: flex;
  align-items: flex-start;
}
.checkout .checkout-history-container .conjure-women-container .item-1 {
  margin-right: 4.25rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2425;
  color: #000000;
  font-family: Kumbh Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout .checkout-history-container .conjure-women-container .conjure-women-book {
  margin: 0.4rem 2.85rem 0rem 0rem;
  width: 17.5rem;
  height: 27.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout .checkout-history-container .conjure-women-container .conjure-women-box {
  margin-top: 0.4rem;
  width: 39.15rem;
  flex-shrink: 0;
}
.checkout .checkout-history-container .conjure-women-container .conjure-women-box .conjure-women {
  margin-bottom: 0.3rem;
  width: 100%;
  max-width: 19rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
}
.checkout .checkout-history-container .conjure-women-container .conjure-women-box .author_Afia {
  margin-bottom: 5.3rem;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Karma, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .checkout-history-container .conjure-women-container .conjure-women-box .place-on-hold-container {
  margin-left: 1.65rem;
  width: calc(100% - 1.65rem);
  height: 7rem;
  display: flex;
  align-items: center;
}
.checkout .checkout-history-container .conjure-women-container .conjure-women-box .place-on-hold-container .favorite_icon {
  margin: 1rem 4.5rem 0rem 0rem;
  width: 5rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout .checkout-history-container .conjure-women-container .conjure-women-box .place-on-hold-container .place_on_hold {
  width: 28rem;
  height: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffbfb;
  flex-shrink: 0;
}
.checkout .checkout-history-container .last-checkout-container {
  margin: 0rem 31.5rem 2.6rem 6.75rem;
  width: calc(100% - 38.25rem);
  display: flex;
  align-items: center;
}
.checkout .checkout-history-container .last-checkout-container .last_checkout {
  margin: 0.5rem 9rem 0rem 0rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Karma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout .checkout-history-container .last-checkout-container .copies-available {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Karma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout .checkout-history-container .line-checkout {
  margin: 0rem 0rem 9.7rem 6.75rem;
  width: 87.5rem;
  height: 0.3rem;
  background-color: #000000;
}
.checkout .checkout-history-container .american-spy-container {
  margin: 0rem 0rem 4.5rem 0.55rem;
  display: flex;
  align-items: flex-start;
}
.checkout .checkout-history-container .american-spy-container .item-2 {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2425;
  color: #000000;
  font-family: Kumbh Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout .checkout-history-container .american-spy-container .american-spy_icon {
  margin: 0.7rem 2rem 0rem 0rem;
  width: 17.5rem;
  height: 27.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout .checkout-history-container .american-spy-container .american-spy-box {
  width: 40rem;
  flex-shrink: 0;
}
.checkout .checkout-history-container .american-spy-container .american-spy-box .american-spy {
  margin-bottom: 0.6rem;
  width: 100%;
  max-width: 21.5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
}
.checkout .checkout-history-container .american-spy-container .american-spy-box .author_Lauren {
  margin-bottom: 5.2rem;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Karma, 'Source Sans Pro';
  white-space: nowrap;
}
.checkout .checkout-history-container .american-spy-container .american-spy-box .american-spy-on-hold-container {
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem);
  display: flex;
  align-items: flex-end;
}
.checkout .checkout-history-container .american-spy-container .american-spy-box .american-spy-on-hold-container .favorite_add_icon {
  margin-right: 4.5rem;
  width: 5rem;
  height: 4.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.checkout .checkout-history-container .american-spy-container .american-spy-box .american-spy-on-hold-container .american-spy-on-hold {
  margin-bottom: 0.2rem;
  width: 28rem;
  height: 7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.805;
  color: #000000;
  font-family: Koulen, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fffbfb;
  flex-shrink: 0;
}
.checkout .checkout-history-container .info {
  margin: 0rem 33.7rem 0rem 6.55rem;
  width: calc(100% - 40.25rem);
  display: flex;
  align-items: center;
}
.checkout .checkout-history-container .info .american-spy-last-checkout {
  margin: 0rem 7rem 0.2rem 0rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Karma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.checkout .checkout-history-container .info .american-spy-copies-available {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.4525;
  color: #000000;
  font-family: Karma, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
